<!DOCTYPE html>
<html>
<head>
	<title>Start | THINKer</title>
	<link rel='stylesheet' href='css/screen.css' type='text/css' media='screen'>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
</head>
<body>
	<div id='head-wrapper'>
		<div id='user-container'>

		</div>
	</div>
	<div id='main-wrapper'>
		<div id='content-container'>
			<h1>Heading 1</h1>
			<h2>Heading 2</h2>
			<h3>Heading 3</h3>
			<h4>Heading 4</h4>
			<p>
				Paragraph text goes here.
			</p>
			<ul>
				<li>List Item 1</li>
				<li>List Item 2</li>
				<li>List Item 3</li>
			</ul>
			<ol>
				<li>Item</li>
				<li>Item</li>
				<li>Item</li>
			</ol>
			<form>
				<fieldset>
					<legend>Legend</legend>
					<input type='text' />
					<select>
						<option>Select One:</option>
						<option>Pick Me</option>
						<option>Pick Me</option>
					</select>
				</fieldset>
			</form>
		</div>
		<div id='footer-container'>

		</div>
	</div>
</body>
</html>